.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: -8px;
}
.img-header {
  /* width: 34%; */
  border-radius: 5%;
  justify-self: flex-end;
  align-self: flex-end;
  max-height: 20rem;
  margin-bottom: 2rem;
  flex-shrink: 0;
}

h1 {
  font: 48px extra-bold;
  color: #f9f8fa;
}
p.subtext,
nav a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

img.img-header {
}
header,
footer {
  background-color: #1f2937;
}
.card-section,
.quote-section,
.call-to-action-section {
  min-height: 40vh;
  max-height: 25v;
  /* border: 5px solid; */
}

.header .subtext {
  font: 18px;
}

.header-logo {
  font: 24px #f9faf8;
  font: 24px #f9faf8;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin-right: auto;
  /* display: block; */
}
.btn-signup,
.ad-container {
  background-color: #3882f6;
}
.info-header {
  font: 36px extra-bold #1f2937;
}
.quote-section {
  display: flex;
  background-color: #e5e7eb;
  align-content: center;
  justify-content: center;
  margin-bottom: -3vh;
}
.quote .text {
  font: 36px light italic #1f2937;
}
footer {
  margin-top: auto;
  background-color: aliceblue;
}
h2.info-header {
  font: 36px extra-bold;
  color: #1f2937;
  text-align: center;
}

h3.text {
  font: 36px light-italic;
  color: #1f2837;
  margin-bottom: 0;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
}

ul.header-link {
  display: flex;
  gap: 2rem;
}
li.left-links {
  margin-left: auto;
}
.header-content {
  display: flex;
  flex-flow: row nowrap;
  /* gap: 10%; */
  box-sizing: border-box;
  /* padding: 5vh; */
  /* align-content: center; */
  align-items: center;
  justify-content: space-evenly;
}

.header-content {
}

.text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-self: flex-start;
  min-width: 30vh;
  /* justify-content: center; */
}
header .text,
.img-header {
  min-width: 30%;
  max-width: 35%;
}

button.btn-signup {
  /* display: inline-block; */
  display: inline;
}

button.btn-signup,
button.ad-button {
  /* max-width: 15%; */
  max-width: 5rem;
  border-radius: 5px;
  color: #f9f8fa;
  padding: 0.3rem;
}

h1,
.subtext,
.btn-signup {
  margin: 0.5rem;
}

.card {
  max-width: 15rem;
  min-height: 20rem;
  border-sizing: 5px;
  border: 5px solid #008dff;
  border-radius: 1.2rem;
}

.card-row {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-flow: row nowrap;
}

.card-column {
  max-width: 18rem;
}

header .text {
  margin: 0;
}

.call-to-action-section {
  /* margin-bottom: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-content {
  display: flex;
  flex-flow: column nowrap;
  max-width: 60%;
  max-height: 10rem;
}

h4.author {
  align-self: flex-end;
  margin-bottom: 30vh;
  /* display: inline; */
  display: inline;
}
.ad-container {
  min-width: 50%;
  min-height: 15vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

button.ad-button {
  background-color: inherit;
  border: 2px solid #f9f8fa;
  color: #f9f8fa;
}

.ad-container h4 {
  color: #f9f8fa;
}

.ad-container p {
  color: #f9f8fa;
}

.card-section {
  padding: 3vh;
}
